#map {
  width: 100vw;
  height: 100vh;
}

body {
  text-align: center;
  background-color: rgb(24, 23, 23);
  color: grey;
  margin: 0;
}

h1 {
  font-family: "Merriweather", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  /* font-size: 2em; */
  letter-spacing: 1px;
  font-weight: 900;
  padding-top: 20px;
  margin: 0;
}

p {
  font-family: "Montserrat", serif;
  font-size: 12px;
  padding: 0 20px 20px 20px;
}

.wrapper {
  margin: 20px;
}

.link {
  text-decoration: none;
  color: rgb(213, 218, 223);
}

.form-control {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: grey;
  font-weight: bold;
  text-transform: uppercase;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  background-color: rgb(32, 31, 31);
  color: grey;
}
