#map {
  width: 100vw;
  height: 100vh;
}

body {
  text-align: center;
  background-color: rgb(24, 23, 23);
  font-family: "Merriweather", sans-serif;
  color: grey;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
}

p {
  font-size: 12px;
  padding: 10px 0px 20px 20px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  background-color: rgb(32, 31, 31);
  color: grey;
}
