#map {
  width: 100vw;
  height: 100vh;
}

body {
  text-align: center;
  background-color: rgb(24, 23, 23);
  color: aliceblue;
  margin: 0;
}

h1 {
  text-transform: uppercase;
}

p {
  font-size: 12px;
}

/* #marker-size: medium; */
